
    <tr valign="middle">
        <td>{{sale.id}}</td>
        <td><a href="{{ url_for('search_results_buyer', query=sale.buyer_id) }}">{{sale.buyer_id}}</a></td>
        <td><a href="{{ url_for('search_results_seller', query=sale.seller_id) }}">{{sale.seller_id}}</a></td>
        <td>{{sale.good_id}}</td>
        <td>{{sale.date_sel}}</td>
        <td>{{sale.price_sel}} руб.</td>
        <td><form style="display: inline;" action="/edit_sale/{{sale.id}}" method="post"><input class='edit_prof' type="submit" value="Изменить"></form></td>
        <td><form style="display: inline;" action="/delete_sale/{{sale.id}}" method="post"><input class='del_prof' type="submit" value="Удалить"></form></td>
    </tr>
