
    <tr valign="middle">
        <td>{{seller.id}}</td>
        <td>{{seller.surname}}</td>
        <td>{{seller.name}}</td>
        <td>{{seller.phone}}</td>
        <td>{{seller.email}}</td>
        <td>{{seller.date_start}}</td>
        <td>{{seller.position}}</td>
        <td><form style="display: inline;" action="/edit_seller/{{seller.id}}" method="post"><input class='edit_prof' type="submit" value="Изменить"></form></td>
        <td><form style="display: inline;" action="/delete_seller/{{seller.id}}" method="post"><input class='del_prof' type="submit" value="Удалить"></form></td>
    </tr>
