<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
  {% extends "base.html" %}

{% block content %}
    <h1>Изменить данные товара</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.nameGood.label }}<br>
            {{ form.nameGood(size=32) }}<br>
            {% for error in form.nameGood.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.aboutGood.label }}<br>
            {{ form.aboutGood(cols="30", rows="10") }}<br>
            {% for error in form.aboutGood.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}

</body>
</html>