{% extends "app/base.html" %}
{% block content %}
    <div>
        <form method="POST">
            {% csrf_token %}
            <fieldset>
                <legend>Авторизация</legend>
                    <p>
                        {{ form.username.label }}<br>
                        {{ form.username }}<br>
                        {% for error in form.username.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>
                        {{ form.password.label }}<br>
                        {{ form.password }}<br>
                        {% for error in form.password.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
            <div>
                <button type="submit">Войти</button>
            </div>
            </fieldset>

        </form>
    </div>
{% endblock content %}