{% extends "fitness/base.html" %}
{% block content %}

<fieldset class="submenu">
<center><b style="font-size: 25px;">Фитнес-клуб «Богатырь»</b></center>
</fieldset><br/>

<form method="POST" enctype="multipart/form-data">
{% csrf_token %}
    <fieldset>
        <legend>Данные клиента / <a onclick="history.back()" style="cursor: pointer;">Вернуться назад</a></legend>
        <table class="update_client_tab">
            <tr>
                <td>
                    <p>
                        Фамилия:<br>
                        {{ form.lastname }}<br>
                        {% for error in form.lastname.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>
                        Имя:<br>
                        {{ form.firstname }}<br>
                        {% for error in form.firstname.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>
                        Отчество:<br>
                        {{ form.patronymic }}<br>
                        {% for error in form.patronymic.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                            <p>
                        Дата рождения:<br>
                        {{ form.birthdate }}<br>
                        {% for error in form.birthdate.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p> Пол:<br>
                        {{ form.gender }}</p>
                    <p>
                    <p>
                        Паспортные данные:<br>
                        {{ form.passport }}<br>
                        {% for error in form.passport.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>
                        Номер телефона:<br>
                        {{ form.phone }}<br>
                        {% for error in form.phone.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>
                        {{ form.email.label }}:<br>
                        {{ form.email }}<br>
                        {% for error in form.email.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                </td>
                <td>
                    <p>
                        Номер договора:<br>
                        {{ form.num_contract }}<br>
                        {% for error in form.num_contract.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>
                        Номер абонемента:<br>
                        {{ form.num_membership }}<br>
                        {% for error in form.num_membership.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>
                        Дата начала договора:<br>
                        {{ form.date_start_contract }}<br>
                        {% for error in form.date_start_contract.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
<!--                    <p>-->
<!--                        Дата окончания договора <span style="color: red;">(Оставить пустым! Система сама рассчитает дату)</span>:<br>-->
<!--                        {{ form.date_end_contract }}<br>-->
<!--                        {% for error in form.date_end_contract.errors %}-->
<!--                        <span style="color: red;">[{{ error }}]</span>-->
<!--                        {% endfor %}-->
<!--                    </p>-->
                    <p>
                        Тип абонемента:<br>
                        {{ form.type_membership }}<br>
                        {% for error in form.type_membership.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>
                        Период действия абонимента:<br>
                        {{ form.time_period }}<br>
                        {% for error in form.time_period.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>
                        Статус абонемента:<br>
                        {{ form.status_membership }}<br>
                        {% for error in form.status_membership.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>

                        Фото:<br>
                        {{ form.photo }}<br>
                        {% for error in form.photo.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <div>
                        <button type="submit">Сохранить</button>
                    </div>
                </td>
            </tr>
        </table>
    </fieldset>
</form>
{% endblock content %}