{% extends "fitness/base.html" %}
{% block content %}
<h1>Кто сейчас в зале:</h1>
<fieldset class="submenu">
    <legend>Поиск записей и добавление новых</legend>
        <form action="{% url 'journal-create' %}" method="get" style="float: right;">
            <input class="sub_submenu" type="submit" value="Пришел / Ушел" />
        </form>
        <form action="{% url 'journal-list' %}" method="get" accept-charset="utf-8" style="float: left; padding-top: 5px;">
            <input type="text" placeholder="Номер абонимента" name="num_card">
            <span><button type="submit">Найти</button></span>
        </form><center><b style="font-size: 25px;">Фитнес-клуб «Богатырь»</b></center>
</fieldset><br/>
<table class="list-clients">
    <tr valign="middle">
        <th>ID</th>
        <th>Номер абонимента</th>
        <th>Дата начала посещения</th>
        <th>Дата окончания</th>
        <th>Пол</th>
        <th>Номер шкафчика</th>
    </tr>
    {% for client in clients %}
    <div>
    <tr valign="middle" style="cursor: pointer;" onclick="window.location.href='{% url 'journal-update' client.id %}'; return false">
        <td>{{client.id}}</td>
        <td>{{client.num_membership}}</td>
        <td>{{client.date_start_visit}}</td>
        <td>{{client.date_end_visit}}</td>
        <td>{{client.gender}}</td>
        <td>{{client.locker_number}}</td>
    </tr>
    </div>
    {% endfor %}
</table>
{% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% endblock %}