{% extends "fitness/base.html" %}
{% block content %}
<h1>Список всех тренеровок:</h1>
<fieldset class="submenu">
    <legend>Поиск записей и добавление новых</legend>
        <form action="{% url 'train-create' %}" method="get" style="float: right;">
            <input class="sub_submenu" type="submit" value="Добавить запись" />
        </form>
        <form action="{% url 'train-list' %}" method="get" accept-charset="utf-8" style="float: left; padding-top: 5px;">
            <input type="text" placeholder="Фамилия тренера" name="poisk">
            <span><button type="submit">Найти / Сбросить</button></span>
        </form>
        <form action="{% url 'train-list' %}" method="get" style="float: left; margin-left: 25px; padding-top: 5px;">
        <select name="orderby"/>
            <option value="id">По умолчанию</option>
            <option value="trener">Тренер</option>
            <option value="type_trains">Тип тренировки</option>
            <option value="visited">Статус</option>
        </select>
        <input type="submit" value="Сортировать">
        </form><center><b style="font-size: 25px;">Фитнес-клуб «Богатырь»</b></center>
</fieldset><br/>
<table class="list-clients">
    <tr valign="middle">
        <th>ID</th>
        <th>Тренер</th>
        <th>Номер абонимента или ФИО клиента</th>
        <th>Тип тренировки</th>
        <th>Дата и время</th>
        <th>Статус</th>
        <th></th>
    </tr>
    {% for train in trains %}
    <div>
    <tr valign="middle" style="cursor: pointer;" onclick="window.location.href='{% url 'train-update' train.id %}'; return false">
        <td>{{ train.id }}</td>
        <td>{{ train.trener.all|join:", " }}</td>
        <td>{{ train.membership_or_fio }}</td>
        <td>{{ train.type_trains }}</td>
        <td>{{ train.dateTime }}</td>
        <td>{%if train.visited == True %}<span style="color: green">Выполнено</span>{% else %}<span style="color: red">Не выполнено</span>{% endif %}</td>
    </tr>
    </div>
    {% endfor %}

</table>
{% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% endblock %}