{% extends "fitness/base.html" %}
{% block content %}
<fieldset class="submenu">
<center><b style="font-size: 25px;">Фитнес-клуб «Богатырь»</b></center>
</fieldset><br/>
<form method="POST">
{% csrf_token %}
    <fieldset>
        <legend>Тренировка / <a onclick="history.back()" style="cursor: pointer;">Вернуться назад</a></legend>
        <p>
            Тренер:<br>
            {{ form.trener }}<br>
            {% for error in form.trener.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            ФИО клиента:<br>
            {{ form.membership_or_fio }}<br>
            {% for error in form.membership_or_fio.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            Тип тренировки:<br>
            {{ form.type_trains }}<br>
            {% for error in form.type_trains.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            Дата и время:<br>
            {{ form.dateTime }}<br>
            {% for error in form.dateTime.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            Выполнено:<br>
            {{ form.visited }}<br>
            {% for error in form.visited.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <div>
            <button class="cancel_delete_btn" type="submit">Сохранить</button>{% if title == 'Изменить запись' %} <a class="cancel_delete" href="{% url 'train-delete' object.id %}">Удалить запись</a>{% endif %}
        </div>

    </fieldset>
</form>
{% endblock content %}