{% extends "fitness/base.html" %}
{% block content %}

<fieldset class="submenu">
<center><b style="font-size: 25px;">Фитнес-клуб «Богатырь»</b></center>
</fieldset><br/>

<form method="POST" enctype="multipart/form-data">
{% csrf_token %}
    <fieldset>
        <legend>Данные тренера / <a onclick="history.back()" style="cursor: pointer;">Вернуться назад</a></legend>
                    <p>
                        Фамилия тренера:<br>
                        {{ form.lastnameTrener }}<br>
                        {% for error in form.lastnameTrener.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>
                        Имя тренера:<br>
                        {{ form.firstnameTrener }}<br>
                        {% for error in form.firstnameTrener.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>
                        Номер телефона:<br>
                        {{ form.phone }}<br>
                        {% for error in form.phone.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>
                        Тип тренировок:<br>
                        {{ form.type_trains }}<br>
                        {% for error in form.type_trains.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>
                        Достижения:<br>
                        {{ form.adwards }}<br>
                        {% for error in form.adwards.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>
                        Фото тренера:<br>
                        {{ form.photo }}<br>
                        {% for error in form.photo.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <div>
                        <button type="submit">Сохранить</button>
                    </div>
    </fieldset>
</form>
{% endblock content %}