<html>
  <head>
    <title>{{title}}</title>
  </head>
  <style>
    li {
        background-color: rgb(250, 205, 205);
        width: 1500px;
    }
    li:nth-of-type(2n){
        background-color: rgb(202, 230, 220);
        width: 1500px;
    }
  </style>
  <body>
      {% extends "base.html" %}
        {% block content %}
            <h1>Список всех ресторанов в нашей базе данных:</h1>
            <ol>
            {%for i in result%}
                <li>{{i}}<form style="display: inline;" action="/edit/{{i.id}}" method="post"><input type="submit" value="Изменить"></form>/<form style="display: inline;" action="/delete/{{i.id}}" method="post"><input type="submit" value="Удалить"></form></li>
            {%endfor%}
            </ol>
        {% endblock %}

  </body>
</html>