<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add new</title>
</head>
<body>
  {% extends "base.html" %}

{% block content %}
    <h1>Добавить новый ресторан</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.spec.label }}<br>
            {{ form.spec(size=64) }}<br>
        </p>
        <p>
            {{ form.adres.label }}<br>
            {{ form.adres(size=32) }}<br>
        </p>
        <p>
            {{ form.web.label }}<br>
            {{ form.web(size=32) }}<br>
        </p>
        <p>
            {{ form.phone.label }}<br>
            {{ form.phone(size=32) }}<br>
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}

</body>
</html>