{% extends "fitness/base.html" %}
{% block content %}
<h1>Список всех заявок на обратный звонок:</h1>
<fieldset class="submenu">
    <legend>Фильтрация записей</legend>
        <form action="{% url 'feedback-list' %}" method="get" style="float: left; margin-left: 25px; padding-top: 5px;">
        <select name="orderby"/>
            <option value="id">По умолчанию</option>
            <option value="-created_at">Дата и время</option>
            <option value="complete">Статус задания</option>
        </select>
        <input type="submit" value="Сортировать">
        </form><center><b style="font-size: 25px;">Фитнес-клуб «Богатырь»</b></center>
</fieldset><br/>
<table class="list-clients">
    <tr valign="middle">
        <th>ID</th>
        <th>Имя</th>
        <th>Номер телефона</th>
        <th>Дата и время заявки</th>
        <th>Статус</th>
    </tr>
    {% for feedback in feedbacks %}
    <div>
    <tr valign="middle" style="cursor: pointer;" onclick="window.location.href='{% url 'feedback-update' feedback.id %}'; return false">
        <td>{{feedback.id}}</td>
        <td>{{feedback.name}}</td>
        <td>{{feedback.phone}}</td>
        <td>{{feedback.created_at}}</td>
        <td>{% if feedback.complete == 0 %}<span style="color: red;">Не выполнено</span>{% else %}<span style="color: green;">Сделано</span>{% endif %}</td>
    </tr>
    </div>
    {% endfor %}
</table>
{% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% endblock %}