<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<title>{{title}}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" href="{% static 'css/grid.css'%}" media="screen">
		<link rel="stylesheet" href="{% static 'css/web_style.css'%}" media="screen">
		<link rel="shortcut icon" href="{% static 'img/favicon.ico'%}" type="image/x-icon">
	</head>

	<body>
	<div style="background: black; width: 100%; height: 30px; text-align: center; padding-top: 7px;font-size: 1.2em;"><a href="https://t.me/bogatyrtestbot"><b>Записаться на тренировку можно в нашем телеграм боте!</b></a></div>
		<!-- Start: top -->
		<section id="top" class="fx-backstretch">
			<div class="info">
				<div class="container" style="background: rgba(0,0,0,.4);">
					<div class="row">
						<div class="col-full"><h1>Фитнес-клуб «Богатырь»</h1></div>
					</div>
					<div class="row"><div class="col-1-4 centered line"></div></div>
					<div class="row">
						<div class="col-full"><h4>Для сильных духом людей</h4></div>
					</div>
				</div>
			</div>

			<nav id="nav">
				<ul class="clearfix">
					<li><a href="#news">Новости и акции</a></li>
					<li><a href="#offers">Наши предложения</span></a></li>
					<li><a href="#treners">Тренеры</a></li>
					<li><a href="#timetable">Расписание</a></li>
					<li><a href="#about">О нас</a></li>
					<li><a href="#contact">Контакты</a></li>
					<li><a onclick="openModalWin()" id="feedback" style="cursor: pointer;">Заказать обратный звонок</a></li>
					{% if user.is_superuser %}<li><a target="_blank" href="{% url 'journal-list' %}">#Администратор</a></li>{% endif %}
				</ul>
			</nav>
		</section>
		<!-- End: top -->

		<!-- Start: news -->
		<section id="news" class="section">
			<div class="container">
				<div class="row">
					<div class="col-full">
						<h2 class="section-title"><a name="news">Новости и акции</a></h2>
						<div class="centered line"></div>
					</div>
				</div>

				<div class="row section-content wel-sec">
					{% for post in posts %}
						<div class="col-1-3">
							<h4>{{ post.title }}</h4>
							<p>{{ post.content }}</p>
						</div>
					{% endfor %}
				</div>
			</div>
		</section>
		<!-- End: news -->

		<!-- Start: offers -->
		<section id="offers" class="section-alt">
			<div class="container">
				<div class="row">
					<div class="col-full">
						<h2 class="section-title" style="color: #fff;">Наши предложения</h2>
						<div class="centered line"></div>
					</div>
				</div>

				<div class="all_blocks">
					<div class="block_offer">
						<h2 style="margin: 20px 0 -15px 0">Безлимит 1</h2>
						<hr class="hr1">
						<h1 class="h1_offer">2000 рублей</h1>
						<font style="color: gray">1 месяц</font><br>
						<p>Спортзал с 8:00 до 21:00<br>
						Групповые тренировки<br>
						по расписанию<br><br><br>						
						<input type="button" value="Купить" class="buy1" onclick="openModalWin()">
					</div>
					<div class="block_offer">
						<h2 style="margin: 20px 0 -15px 0">Безлимит 2</h2>
						<hr class="hr2">
						<h1 class="h1_offer">4000 рублей</h1>
						<font style="color: gray">3 месяца</font><br>
						<p>Спортзал с 8:00 до 21:00<br>
						Групповые тренировки<br>
						по расписанию<br>
						Рекомендации от тренера<br><br>
						<input type="button" value="Купить" class="buy2" onclick="openModalWin()">
					</div>
					<div class="block_offer">
						<h2 style="margin: 20px 0 -15px 0">Безлимит 3</h2>
						<hr class="hr3">
						<h1 class="h1_offer">5000 рублей</h1>
						<font style="color: gray">6 месяцев</font><br>
						<p>Спортзал с 8:00 до 21:00<br>
						Групповые тренировки<br>
						по расписанию<br>
						Рекомендации от тренера<br>
						Заморозка карты на 2 недели
						<input type="button" value="Купить" class="buy3" onclick="openModalWin()">
					</div>
					<div class="block_offer">
						<h2 style="margin: 20px 0 -15px 0">Безлимит 4</h2>
						<hr class="hr4">
						<h1 class="h1_offer">9000 рублей</h1>
						<font style="color: gray">12 месяцев</font><br>
						<p>Спортзал с 8:00 до 21:00<br>
						Групповые тренировки<br>
						по расписанию<br>
						Рекомендации от тренера<br>
						Заморозка карты на 1 месяц
						<input type="button" value="Купить" class="buy4" onclick="openModalWin()">
					</div>
				</div>
			</div>
		</section>
		<!-- End: offers -->

		<!-- Start: treners -->
		<section id="treners" class="section">
			<div class="container">

					<div class="col-full">
						<h2 class="section-title"><a name="treners">Тренеры</a></h2>
						<div class="centered line"></div>
					</div>


				<div class="row section-content">
					<!-- Start: trener -->
					<div class="trener">
						<div class="col-full">
							<h3>Персональные & Групповые тренировки</h3>
						</div>

						<div class="col-full text-center">Вы можете заказать обратный звонок для записи на персональную и групповую тренировки.</div>
						<div class="row">
							<div class="col-full col-wrap centered gallery">
								<div class="col-1-4 trener-project"><img src="{% static '/img/trener_ilya_muromec.jpg' %}" title="Персональный тренер Илья Муромец" alt="Персональный тренер Илья муромец">Илья Муромец</div>
								<div class="col-1-4 trener-project"><img src="{% static '/img/trener_dobrynya_nikitich.jpg' %}" title="Персональный тренер Добрыня Никитич" alt="Персональный тренер Добрыня Никитич">Добрыня Никитич</div>
								<div class="col-1-4 trener-project"><img src="{% static '/img/trener_alesha_popovich.jpg' %}" title="Персональный тренер Алеша Попович" alt="Персональный тренер Алеша Попович">Алеша Попович</div>
								<div class="col-1-4 trener-project"><img src="{% static '/img/trener_anna_popova.jpg' %}" title="Групповые тренировки по растяжке Анна Попова" alt="Групповые тренировки по растяжке Анна Попова">Василиса Прекрасная</div>
							</div>
						</div>
					</div>
					<!-- End: trener -->

					<div class="separator"></div>

					
				</div>
			</div>
		</section>
		<!-- End: treners -->

		<!-- Start: timetable -->
		<section id="timetable" class="section-alt">
			<div class="container">
				<div class="row">
					<div class="col-full">
						<h2 class="section-title"><a name="timetable">Расписание тренеровок</a></h2>
						<div class="centered line"></div>
					</div>
				</div>

				<div class="row section-content">
					<div class="row">
						<div class="col-full text-center">
							<table>
								<thead>
									<th>Расписание групповых тренировок</th>
									<th>Пн</th><th>Вт</th><th>Ср</th><th>Чт</th><th>Пт</th><th>Сб</th><th>Вс</th>
								</thead>
								<tbody>
									<tr>
										<td><small>19:00</small></td>
										<td>
											<strong>Растяжка</strong>
                                            <span>19:00 - 20:15</span>
										</td><td></td><td></td><td></td><td></td><td></td><td></td>
									</tr>
									<tr>
										<td><small>20:00</small></td>
										<td></td><td></td>
										<td>
											<strong>Растяжка</strong>
                                            <span>20:00 - 21:15</span>
										</td>
										<td></td><td></td><td></td><td></td>
									</tr>
									<tr>
										<td><small>15:00</small></td>
										<td></td><td></td><td></td><td></td><td></td>
										<td>
											<strong>Растяжка</strong>
                                            <span>15:00 - 16:30</span>
										</td><td></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>			
				</div>
			</div>
		</section>
		<!-- End: timetable -->

		<!-- Start: about -->
		<section id="about" class="section">
			<div class="container">

					<div class="col-full">
						<h2 class="section-title"><a name="about">О нас</a></h2>
						<div class="centered line"></div>
					</div>


				<div class="row section-content">
					<!-- our_advantages -->
					<div class="row">
						<div class="col-full">
							<ul class="our_advantages">
								<li>| Пн-Вс: 8:00-21:00 | </li>
								<li>Тренажерный зал 450 м<sup>2</sup> | </li>
								<li>Отдельный большой зал групповых программ | </li>
								<li style="margin-top: 25px;">Мы находимся в центре на ул.Швецова, 39 </li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End: about -->

		<!-- Start: Contact -->
		<section id="contact" class="section">
			<div class="container">
				<div class="row">
					<div class="col-full">
						<h2 class="section-title"><a name="contact">Контакты</a></h2>
						<div class="centered line"></div>
					</div>
				</div>

				<div class="row section-content">

					<div class="col-full centered">
						<div class="col-1-2">
						<ul>					
							<li>Телефон: +7(800) 2000 600</li>
							<li>Телеграм: +7(800) 2000 600</li>
							<li>Электронная почта: bogatyr@django.ru</li>
							<li>Мы находимся по адресу г.Пермь, ул.Швецова, 39</li>
							<li>График работы: Пн-Вс 8:00-21:00</li>
						</ul>
						</div>						
						<div class="col-1-2">
                           <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d926.2255651795689!2d56.25114799923749!3d58.002303416122125!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43e8c77b69d71c05%3A0xe38c8b6b0310f910!2zVG9wIHwg0JrQvtC80L_RjNGO0YLQtdGA0L3QsNGPINCw0LrQsNC00LXQvNC40Y8g0J_QtdGA0LzRjA!5e0!3m2!1sru!2sus!4v1698590488854!5m2!1sru!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
					</div>
				</div>
			</div>
		</section>
		<div id="btn_top"> </div>
		<footer>
			<div class="container">
					<div class="col-full">
						<div class="col-1-3">
							<h2>«Богатырь»</h2>
							<img src="{% static '/img/bicepc.png' %}" title="Фитнес-клуб «Богатырь»" alt="Фитнес-клуб «Богатырь»" width="150px">
							<h3>Фитнес-клуб для сильных духом людей</h3>
						</div>
						<div class="col-1-3">
							<table>
								<tr>
									<td><h3>Для связи с нами</h3></td>
									<td><a href="#" class="vk_icon" title="Мы в Вконтакте"> </a></td>
									<td><a href="https://t.me/bogatyrtestbot" class="tg_icon" title="Мы в Телеграме"> </a></td>
								</tr>
								<tr><td colspan="3">Наш телефон: +7(800) 2000 600</td></tr>
								<tr><td colspan="3">Электронная почта: bogatyr@django.ru</td></tr>
								<tr><td colspan="3">Адрес г.Пермь, ул.Швецова, 39</td></tr>
								<tr><td colspan="3">График работы: Пн-Вс 8:00-21:00</td></tr>
							</table>

						</div>
						<div class="col-1-3">
							<ul class="foot_menu">
								<li><a href="#news">Новости и акции</a></li>
								<li><a href="#offers">Наши предложения</span></a></li>
								<li><a href="#treners">Тренеры</a></li>
								<li><a href="#timetable">Расписание</a></li>
								<li><a href="#about">О нас</a></li>
								<li><a href="#contact">Контакты</a></li>
								<li><div style="display: block; width: 295px; height: 25px; background-color: #DC143C; padding-bottom: 5px;"><a onclick="openModalWin()" style="cursor: pointer;">Заказать обратный звонок</a></div></li>
							</ul>
						</div>
					</div>
			</div>

			<div style="text-align: center" id="modal_win" class="modalwin">
				<form method="POST">
					{% csrf_token %}
					<h2>Заказать обратный звонок</h2>
					{{ form.name.label }}<br>{{ form.name }}<p></p>
					{{ form.phone.label }}<br>{{ form.phone }}
					<p><input type="submit" value="Отправить">
					<input type="button" value="Закрыть" onclick="closeModalWin()"></p>
				</form>
			</div>
			{% if sent %}
				<form method="GET">
					<div style="text-align: center; height: 150px;" id="modal_win_success" class="modalwin">
						<h2>Ваша заявка успешно отправлена</h2>
						В ближайшее время наш менеджер свяжется с Вами по указанному в заявке номеру телефона!
						<p><input type="submit" value="Закрыть" onclick="closeModalsuccessWin()"></p>
					</div>
				</form>
			{% endif %}
		<h3>Copyright © 2023 Выпускная работа</h3>
		</footer>
		<!-- Loading: jQuery and custom script -->
		<script src="{% static '/js/jquery-1.10.2.min.js' %}"></script>

		<!-- Loading: jQuery Easy Pie Chart -->
		<script src="{% static '/js/easy-pie/jquery.easy-pie-chart.js' %}"></script>

		<!-- Loading: jQuery Sticky -->
		<script src="{% static '/js/jquery.sticky.js' %}"></script>

		<!-- Loading, Setting Up: Form, Form Validation Plugin -->
		<script src="{% static '/js/jquery.form.min.js' %}" type="text/javascript"></script>
		<script src="{% static '/js/jquery.validate.min.js' %}" type="text/javascript"></script>

		<!-- Loading: Custom scripting -->
		<script src="{% static '/js/custom.js' %}" type="text/javascript"></script>
		
		<!-- Loading: modal_window scripting -->
		<script src="{% static '/js/modal_win.js' %}" type="text/javascript"></script>

		<!-- Loading: scroll_button scripting -->
		<script src="{% static '/js/scroll_js.js' %}" type="text/javascript"></script>
	</body>

</html>