{% extends "fitness/base.html" %}
{% block content %}

<fieldset class="submenu">
<center><b style="font-size: 25px;">Фитнес-клуб «Богатырь»</b></center>
</fieldset><br/>

<form method="POST">
{% csrf_token %}
    <fieldset>
        <legend>Новая запись / <a onclick="history.back()" style="cursor: pointer;">Вернуться назад</a></legend>
        <table class="update_client_tab">
            <tr>
                <td>
                    <p>
                        Заголовк новости/акции:<br>
                        {{ form.title }}<br>
                        {% for error in form.title.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>
                        Текст:<br>
                        {{ form.content }}<br>
                        {% for error in form.content.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <div>
                        <button class="cancel_delete_btn" type="submit">Сохранить</button>{% if title == 'Изменить запись' %} <a class="cancel_delete" href="{% url 'post-delete' object.id %}">Удалить запись</a>{% endif %}
                    </div>
                </td>
            </tr>
        </table>
    </fieldset>
</form>
{% endblock content %}