{% extends "fitness/base.html" %}
{% block content %}
<h1>Список всех постов:</h1>
<fieldset class="submenu">
    <legend>Добавление новых</legend>
        <form action="{% url 'post-create' %}" method="get" style="float: right;">
            <input class="sub_submenu" type="submit" value="Новый пост" />
        </form>
<center><b style="font-size: 25px;">Фитнес-клуб «Богатырь»</b></center>
</fieldset><br/>
<table class="list-clients">
    <tr valign="middle">
        <th style="width: 100px;">ID</th>
        <th>Заголовок</th>
        <th>Содержание</th>
    </tr>
    {% for post in posts %}
    <div>
    <tr valign="middle" style="cursor: pointer;" onclick="window.location.href='{% url 'post-update' post.id %}'; return false">
        <td>{{post.id}}</td>
        <td>{{post.title}}</td>
        <td>{{post.content}}</td>
    </tr>
    </div>
    {% endfor %}
</table>
{% endblock %}