{% extends "app/base.html" %}
{% block content %}
    <div>
        <form method="POST">
            {% csrf_token %}
            <fieldset>
                <legend>Задание №2</legend>
                    <p>
                        {{ form.value1.label }}<br>
                        {{ form.value1 }}<br>
                        {% for error in form.value1.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>
                        {{ form.value2.label }}<br>
                        {{ form.value2 }}<br>
                        {% for error in form.value2.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                                    <p>
                        {{ form.value3.label }}<br>
                        {{ form.value3 }}<br>
                        {% for error in form.value3.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>
                        {{ form.choice }}
                    </p>
            <div>
                <button type="submit">Рассчитать</button>
            </div>
            </fieldset>
        </form>
    </div>
{% endblock content %}