<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
        <title>{{title}}</title>
    <style>
	.menu{
	list-style: none;
	}
	.main_menu{
	display: inline;
	margin-left: 5px;
	}
	</style>
	</head>
    <body>
        {%extends 'index.html'%}
		{%block content%}
        Эрнест Хемингуэй
        <p>
        Американский писатель, военный корреспондент, лауреат Нобелевской премии по литературе 1954 года.
        Широкое признание Хемингуэй получил благодаря своим романам и многочисленным рассказам - с одной стороны, и своей жизни,
        полной приключений и неожиданностей, - с другой.
        </p>
        Родился: 21 июля 1899 г., Ок-Парк, Иллинойс, США<br>
        Умер: 2 июля 1961 г. (61 год), Кетчум, Айдахо, США<br>
        Награды: Нобелевская премия по литературе
        <p>
        Цитата: Дайте человеку необходимое — и он захочет удобств. Обеспечьте его удобствами — он будет стремится к роскоши.
            Осыпьте его роскошью — он начнет вздыхать по изысканному. Позвольте ему получать изысканное — он возжаждет безумств.
            Одарите его всем, что он пожелает — он будет жаловаться, что его обманули, и что он получил не то, что хотел.
        </p>
        {%endblock%}
    </body>
</html>