a{
    text-decoration: none;
    color: #808080;
    border-bottom: 1px dashed #808080;
}
a:hover{
    text-decoration: none;
    color: #696969;
    font-weight: bold;
    border-bottom: 1px dashed #808080;
}

.list-clients{
	border: 1px solid black;
	border-collapse: collapse; /*collapse|separate*/
	text-align: center;
	vertical-align: middle;
	width: 100%;
	box-shadow: 0px 0px 5px 0px black;

}

.list-clients tr {
	height: 35px;
}

.list-clients tr:nth-child(odd){
	background-color: #D3D3D3;
}

.list-clients tr:nth-child(even){
	border-top: 0px solid black;
}

.list-clients th {
	background-color: #D3D3D3;
	height: 35px;
	position: sticky;
	top: 0;
}

.list-clients td:first-child {
	background-color: #D3D3D3;
	font-weight: bold;
	position: sticky;
	left: 0;
}

.table_list_treners{
	display: flex;
	justify-content: center;
	align-items: center;
}

.list-treners {
    width: 1200px;
}

.list-treners td {
	cursor: pointer;
	border: 1px solid black;
	width: 33%;
	height: 300px;
    vertical-align: middle;

}

.list-treners td:hover {
	transition: .5s;
	box-shadow: 0px 1px 20px 1px black;
}


.list-trains {
	width: 100%;
}

.list-trains td {
    display: inline-block;
    float: left;
	border: 1px solid black;
	width: 10%;
	height: 120px;
	text-align: center;
    vertical-align: middle;
    margin-left: 5px;
    line-height: 30px;
    cursor: pointer;
    background-color: #66CDAA;
    box-shadow: 0px 0px 5px 0px black;
}

.edit_prof {
    background-color: #32CD32;
    height: 25px;
    border: 1px solid #2E8B57;
    border-radius: 5px;


}

.del_prof {
    background-color: #DC143C;
    height: 25px;
    border: 1px solid #8B0000;
    border-radius: 5px;
    cursor: pointer;
}

.cancel_delete {
    text-decoration: none;
    color: black;
    display: block;
    height: 19px;
    width: 115px;
    border: 1px solid grey;
    border-radius: 2px;
    text-align:center;
    background: #efefef;
    cursor: default;
    float: left;
    margin-left: 15px;
    font-family: "Tahoma";
    font-size: 13.49px;
}
.cancel_delete:hover {
    background: #e5e5e5;
    text-decoration: none;
    color: black;
    font-weight: normal;
    border-bottom: 1px solid grey;
}

.cancel_delete_btn {
    float: left;
}

#id_passport {
    height: 45px;
    width: 250px;
}
.update_client_tab {
    width: 100%;
}
.update_client_tab td{
    width: 50%;
}
.update_client_tab td:nth-child(even){
    border-left: 1px solid grey;
    padding-left: 20px;
}

.main_menu{
	width: 100wh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sub_main_menu{
    margin-left: 15px;
    width:160px;
    height: 50px;
}

.sub_submenu{
    width:auto;
    height: 35px;
}

.client_detail{
    width: 100%;
    border: 1px solid black;
    box-shadow: 0px 0px 5px 0px black;
}
.client_detail th{
    background-color: #DCDCDC;
	height: 35px;
	position: sticky;
	top: 0;
}
.photo_client{
    text-align: center;
    vertical-align: middle;
    border: 1px solid black;
}

.confrim_delet_block{
	height: 100vh;
	width: 100wh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.confrim_delet_block div {
    display: block;
    width: 350px;
    height: 250px;
    text-align: center;
}

